body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }
  
  p {
    font-family: "Poppins", sans-serif;
  }
  
  .layout_margin {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  
  .layout_padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .layout_padding2 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 120px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 120px;
  }
  
  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .heading_container h2 {
    font-weight: bold;
  }
  
  /*header section*/
  .hero_area {
    height: 84vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .sub_page .hero_area {
    height: auto;
  }
  
  .sub_page .hero_area .header_section {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  }
  
  .header_section {
    background-color: #ffffff;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff; /* To ensure it's visible properly */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
  }
  
  
  
  .contact_nav_container {
    background-color: #82c419;
    padding: 10px 0;
  }
  
  .contact_nav_container .contact_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .contact_nav_container .contact_nav a {
    color: #ffffff;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
    width: 22px;
    margin-right: 15px;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 25px;
    color: #fefeff;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  .custom_menu-btn button {
    margin-top: 12px;
    outline: none;
    border: none;
    background-color: transparent;
  }
  
  .custom_menu-btn span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #252525;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_menu-btn .s-2 {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    width: 20px;
  }
  
  .menu_btn-style {
    position: fixed;
    left: 22px;
    top: 15px;
  }
  
  .menu_btn-style button {
    margin-top: 12px;
    outline: none;
    border: none;
    background-color: transparent;
  }
  
  .menu_btn-style span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #252525;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .menu_btn-style button {
    -webkit-transform: translateX(14px);
            transform: translateX(14px);
  }
  
  .menu_btn-style button .s-1 {
    -webkit-transform: rotate(45deg) translateY(17px);
            transform: rotate(45deg) translateY(17px);
  }
  
  .menu_btn-style button .s-2 {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  
  .menu_btn-style button .s-3 {
    -webkit-transform: rotate(-45deg) translateY(-17px);
            transform: rotate(-45deg) translateY(-17px);
  }
  
  .navbar-expand-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .navbar-expand-lg .navbar-collapse {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(130, 196, 25, 0.95);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
  }
  
  .overlay a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 10px 0;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    width: 190px;
  }
  
  .overlay a:hover, .overlay a.active {
    border-color: transparent;
    background-color: #ffffff;
    color: #000000;
  }
  
  .menu_btn-style {
    display: none;
  }
  
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .menu_width {
    width: 100%;
  }
  
  .scroll-y-hidden {
    overflow-y: hidden;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    background-position: center;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  
  .navbar-brand span {
    font-weight: 200;
    color: #2d2d2c;
    font-size: 35px;
  }
  
  .custom_nav-container {
    z-index: 99999;
    /* padding: 25px 0; */
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 55px;
  }
  
  .user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .user_option a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* margin-right: 25px; */
    color: #000000;
  }
  
  .user_option a span {
    text-transform: uppercase;
    margin-right: 5px;
    font-size: 24px;
  }
  
  /*end header section*/
  /* Reset for slider */
.carousel-inner .carousel-item {
  text-align: center;
}

.baby_detail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  color: #333;
}

.baby_text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  font-family: Poppins;
font-size: 64px;
font-weight: 700;
line-height: 96px;
letter-spacing: 0.04em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.baby_detail a {
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
}

/* Style custom dots */
.custom-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding: 0;
}

.custom-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #555;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-dots li.active {
  background-color: #007bff;
}

/* Style the green circular arrow buttons */
/* Style the Left and Right Arrows */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #82c419; /* Green */
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.custom-arrow:hover {
  background-color: rgba(100, 150, 30, 1);
}

/* Position the chevron buttons */
.custom-arrow.custom-control-prev {
  left: 10px;
}

.custom-arrow.custom-control-next {
  right: 10px;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  .custom-arrow {
    font-size: 1.2rem;
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 576px) {
  .custom-arrow {
    font-size: 1rem;
    height: 30px;
    width: 30px;
  }
}

  
  /* General Slider Section */
.slider_section {
  background-image: url(../images/catsimg/sidebarbg.png);
  background-size: cover;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #ffffff;
}

/* Ensure the carousel and its items take up full height */
.slider_section #customCarousel1,
.slider_section .carousel-inner,
.slider_section .carousel-item {
  height: 100%;
}

.slider_section #customCarousel1 {
  width: 100%;
  height: 100%;
}

/* Style for the box */
.slider_section .box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* Buttons inside the slider */
.slider_section .box a {
  display: inline-block;
  background-color: #82c419;
  color: #ffffff;
  padding: 12px 45px;
  border-radius: 0;
  transition: all 0.3s;
  border: none;
  text-transform: uppercase;
}

.slider_section .box a:hover {
  background-color: #649713;
}

.slider_section .box .baby_detail .baby_text {
  padding: 25px 105px;
  margin-bottom: 15px;
  justify-content: center;
  /* width:60%; */
}



/* Style for carousel indicators */
.slider_section .carousel-indicators {
  left: 45%;
  /* right: initial; */
  /* top: 45px; */
  bottom: 0;
  width: 150px;
  height: 115px;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
}
.slider_section .carousel-indicators li {
  width: 20px;
  height: 20px;
  opacity: 1;
  margin: 0 4px; /* Space between the dots */
  border-radius: 50%;
  background-color: #82c419; /* Green */
  transition: background-color 0.3s ease
}

.slider_section .carousel-indicators li.active {
  background-color: #ffffff;
}


/* Responsive Media Queries for Mobile */
@media (max-width: 768px) {
  .slider_section .baby_text h2 {
    font-size: 1.8rem; /* Scale the text down */
    padding: 10px;
  }

  .custom-arrow {
    width: 30px;
    height: 30px;
  }

  .slider_section .carousel-indicators li {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 576px) {
  .slider_section .baby_text h2 {
    font-size: 1.5rem; /* Smaller text on very small devices */
  }

  .custom-arrow {
    width: 25px;
    height: 25px;
  }

  .slider_section .carousel-indicators li {
    width: 6px;
    height: 6px;
  }

  .slider_section .box {
    padding: 0 10px;
  }
}

/* next section */

  
  .service_section {
    background-color: #252525;
    position: relative;
  }
  
  .service_section .row > div {
    padding: 0;
  }
  
  .service_section .box {
    padding: 25px 25px;
    position: relative;
  }
  
  .service_section .box .img-box {
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .service_section .box .img-box img {
    width: 100%;
  }
  
  .service_section .box .detail-box {
    color: #ffffff;
    margin-top: 10px;
  }
  
  .service_section .box .detail-box h6 {
    text-transform: uppercase;
  }
  
  .service_section .box > div {
    position: relative;
    z-index: 3;
  }
  
  .service_section .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252525;
    z-index: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .service_section .box:hover:before, .service_section .box.active:before {
    background-color: #82c419;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 2;
  }
  
  .about_section {
    color: #ffffff;
    padding-left: 10%;
    padding-right: 12%;
  }
  
  .about_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  
  .about_section .box .img-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .about_section .box .img-box img {
    width: 100%;
  }
  
  .about_section .box .detail-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 25px;
    margin: 25px 0;
    background-color: #252525;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .about_section .box .detail-box p {
    margin: 0;
  }
  
  .about_section .box .detail-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    color: #82c419;
  }
  
  .about_section .box .detail-box a hr {
    border: none;
    width: 90px;
    height: 1px;
    background-color: #82c419;
    margin: 0;
    margin-left: 5px;
  }
  
  .wehave_section {
    color: #ffffff;
    padding-left: 10%;
    padding-right: 5%;
    background-color: #252525;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, transparent), color-stop(5%, #252525), color-stop(95%, #252525), color-stop(95%, transparent));
    background: linear-gradient(to bottom, transparent 5%, #252525 5%, #252525 95%, transparent 95%);
  }
  
  .wehave_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  
  .wehave_section .box .img-box {
    -webkit-box-flex: 1.4;
        -ms-flex: 1.4;
            flex: 1.4;
  }
  
  .wehave_section .box .img-box img {
    width: 100%;
  }
  
  .wehave_section .box .detail-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 25px;
    margin: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .wehave_section .box .detail-box p {
    margin: 0;
  }
  
  .wehave_section .box .detail-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    color: #82c419;
  }
  
  .wehave_section .box .detail-box a hr {
    border: none;
    width: 90px;
    height: 1px;
    background-color: #82c419;
    margin: 0;
    margin-left: 5px;
  }
  
  .why_section .why_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .why_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 45px 10px 0 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .why_section .box .img-box {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #82c419;
    border-radius: 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .why_section .box .img-box img {
    width: 45px;
  }
  
  .why_section .box .detail-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
  }
  
  .why_section .box .detail-box h5 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .why_section .box .detail-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    color: #82c419;
  }
  
  .why_section .box .detail-box a hr {
    border: none;
    width: 90px;
    height: 1px;
    background-color: #82c419;
    margin: 0;
    margin-left: 5px;
  }
  
  .why_section .box:hover .img-box {
    background-color: #252525;
  }
  
  .team_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    opacity: 0.2;
    margin: 75px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 200px; /* Adjust based on your design */
    width: 300px; /* Adjust based on your design */
    background-color: #f5f5f5; /* Add a background color */
    border-radius: 10px; /* Optional for rounded corners */
    overflow: hidden;
}

.team_section .box .img-box {
    display: none; /* Hide the img-box */
}

.team_section .box .detail-box {
    background-color: #82c419;
    padding: 20px; /* Increased padding for better spacing */
    border-radius: 10px;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    width: 100%; /* Take full width of the box */
    height: 100%; /* Take full height of the box */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: column; /* Arrange content vertically */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.team_section .box .detail-box h6 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px; /* Spacing below heading */
}

.team_section .box .detail-box .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.team_section .box .detail-box .social_box a {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    font-size: 18px;
    margin: 0 5px;
    color: #82c419;
}

.team_section .team_carousel .owl-item.center .box {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.team_section .team_carousel .owl-item.center .box .detail-box {
    visibility: visible;
    opacity: 1;
}

.team_section .team_carousel .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.team_section .team_carousel .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #252525;
    outline: none;
}

.team_section .team_carousel .owl-dots .owl-dot.active {
    background-color: #82c419;
}

  
/* Model Section */
.model_section {
  display:flex;
  height: 80vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.model-title {
  font-size: 64px;
  font-weight: 300;
  color: #82c419;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


/* Owl Carousel Wrapper */
.model_carousel .box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 245px;
  height: 250px;
  margin: 0 auto;
  background-color: #82C419; /* Greenish box */
  color: black;
  font-size: 16px;
  border-radius: 20px;
  text-align: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  transition: transform 0.3s ease;
}
.model_carousel .box p {
  font-size: 30px;  
  color: #333;     
}

/* Add hover effect */
.model_carousel .box:hover {
  transform: translateY(-5px);
}

/* Carousel Dots - Custom Styling */
.model_section .carousel-indicators {
  display: none;
}


  /* contact section */
  .contact_section .heading_container {
    margin-bottom: 25px;
  }
  
  .contact_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .contact_section .detail-box {
    width: 250px;
  }
  
  .contact_section .detail-box p {
    margin-top: 5px;
  }
  
  .contact_section .contact-form h5 {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
  }
  
  .contact_section .contact-form .top_input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .contact_section .contact-form .top_input input {
    width: 48%;
  }
  
  .contact_section .contact-form input {
    width: 100%;
    margin: 10px 0;
    height: 45px;
    padding-left: 15px;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  }
  
  .contact_section .contact-form input.message_input {
    height: 125px;
  }
  
  .contact_section .contact-form input::-webkit-input-placeholder {
    color: #acabab;
  }
  
  .contact_section .contact-form input:-ms-input-placeholder {
    color: #acabab;
  }
  
  .contact_section .contact-form input::-ms-input-placeholder {
    color: #acabab;
  }
  
  .contact_section .contact-form input::placeholder {
    color: #acabab;
  }
  
  .contact_section .contact-form .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }
  
  .contact_section .contact-form .btn-box button {
    display: inline-block;
    background-color: #82c419;
    color: #ffffff;
    padding: 10px 65px;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
  }
  
  .contact_section .contact-form .btn-box button:hover {
    background-color: #649713;
  }
  
  /* end contact section */
  .client_section .heading_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .client_section .box .img-box {
    width: 125px;
    min-width: 125px;
    margin-right: 15px;
    position: relative;
    border: 1.5px solid #82c419;
  }
  
  .client_section .box .img-box img {
    width: 100%;
  }
  
  .client_section .box .client_detail {
    border: 1px solid #82c419;
    margin-left: -75px;
    margin-top: 45px;
    padding: 45px 35px 35px 90px;
  }
  
  .client_section .box .client_detail .client_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 25px;
    margin-bottom: 10px;
  }
  
  .client_section .box .client_detail .client_name .client_info h4 {
    font-weight: bold;
    margin: 0;
  }
  
  .client_section .box .client_detail .client_name .client_info span {
    color: #82c419;
    font-weight: 600;
  }
  
  .client_section .box .client_detail .client_name i {
    color: #82c419;
  }
  
  .client_section .owl-carousel .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  
  .client_section .owl-carousel .owl-nav button {
    width: 50px;
    height: 50px;
    background-color: #252525;
    outline: none;
    margin: 0 20px;
    color: #ffffff;
  }
  
  .client_section .carousel-indicators {
    position: unset;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 45px;
  }
  
  .client_section .carousel-indicators li {
    width: 20px;
    height: 20px;
    opacity: 1;
    margin: 0 5px;
    border: none;
    background-color: transparent;
    background-color: #252525;
  }
  
  .client_section .carousel-indicators li.active {
    background-color: #82c419;
  }
  
  /* info section */
  .info_section {
    background-color: #252525;
    color: #ffffff;
  }
  
  .info_section h5 {
    margin-bottom: 20px;
  }
  
  .info_section .info_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .info_section .info_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
  }
  
  .info_section .info_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .info_section .info_contact .contact_link_box a:hover {
    color: #82c419;
  }
  
  .info_section .info_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  
  .info_section .info_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    color: #252525;
    border-radius: 100%;
    margin-right: 5px;
  }
  
  .info_section .info_social a:hover {
    color: #82c419;
  }
  
  .info_section .info_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .info_section .info_links a {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .info_section .info_links a i {
    margin-right: 5px;
  }
  
  .info_section .info_links a:hover, .info_section .info_links a.active {
    color: #82c419;
  }
  
  .info_section form input {
    border: 1px solid #82c419;
    background-color: transparent;
    width: 100%;
    height: 45px;
    padding-left: 15px;
    color: #ffffff;
    outline: none;
  }
  
  .info_section form input::-webkit-input-placeholder {
    color: #ffffff;
  }
  
  .info_section form input:-ms-input-placeholder {
    color: #ffffff;
  }
  
  .info_section form input::-ms-input-placeholder {
    color: #ffffff;
  }
  
  .info_section form input::placeholder {
    color: #ffffff;
  }
  
  .info_section form button {
    display: inline-block;
    background-color: #82c419;
    color: #ffffff;
    padding: 10px 55px;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
  }
  
  .info_section form button:hover {
    background-color: #649713;
  }
  
  /* end info section */
  /* footer section*/
  .footer_section {
    background-color: #fdfdfe;
    text-align: center;
    color: #000000;
  }
  
  .footer_section p {
    margin: 0;
    padding: 20px 0;
    color: #82c419;
  }
  
  .footer_section p a {
    color: inherit;
  }

  /* about section */
  .about-us {
    padding: 80px 0;
  }
  
  .about-image img {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
  }
  
  .about-content {
    padding-left: 40px;
  }
  
  .about-title {
    font-size: 64px;
    font-weight: 200;
    margin-bottom: 20px;
    color: #82c419;
  }
  
  .about-text {
    font-size: 24px;
    line-height: 1.6;
    color: #555;
  }
  
  @media (max-width: 767px) {
    .about-us {
      padding: 50px 0;
    }
  
    .about-content {
      padding-left: 0;
      margin-top: 30px;
    }
  
    .about-title {
      font-size: 38px;
    }
  
    .about-text {
      font-size: 21px;
    }
  }
  .vision-mission {
    padding: 80px 0;
    background-color: #fff;
    color: #555;
    font-family: 'Arial', sans-serif;
}

.section-title {
    font-size: 64px;
    font-weight: 300;
    color: #82c419;
    text-align: left;
    margin-bottom: 50px;
}

.content-block {
    max-width: 2000px;
    margin: 0 auto;
}

.content-item {
    margin-bottom: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-title {
    font-size: 40px;
    font-weight: 200;
    color: #000;
    margin-bottom: 95px;
    text-align: left; 
    flex: 1; 
}

.content-text {
    font-size: 20px;
    line-height: 1.8;
    color: #555;
    flex: 2; 
    text-align: left; 
}

.divider {
    border: 0;
    height: 2px;
    background: #ddd;
    margin: 30px 0;
}
/* Section Styling */
.testimonials-section {
  text-align: center;
  padding: 40px 0;
  background-color: #fff;
}

.testimonials-title {
  font-size: 54px;
  font-weight: 300;
  color: #82c419;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

/* Testimonial Card */
.testimonial-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.testimonial-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.testimonial-bg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(50%);
}

/* Content Overlay */
.testimonial-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  padding: 20px;
}

.testimonial-stars {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #ffd700; 
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.testimonial-author {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Navigation Arrows */
.testimonial-arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-50%);
  gap: 100px;
}
@media (max-width: 768px) {
  .testimonial-arrows {
    justify-content: space-between;
    gap: 50px;
  }
}

.arrow {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.arrow.left {
  margin-left: 20px;
}

.arrow.right {
  margin-right: 20px;
}

.testimonial-content {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.testimonial-content.hidden {
  opacity: 0;
}


/* Responsive Design */
@media screen and (max-width: 768px) {
  .testimonials-title {
    font-size: 2rem;
  }

  .testimonial-text {
    font-size: 0.9rem;
  }

  .testimonial-author {
    font-size: 1rem;
  }

  .arrow {
    font-size: 1.5rem;
  }
}

/* Responsive Design */
@media (max-width: 767px) {
    .vision-mission {
        padding: 50px 20px;
    }

    .section-title {
        font-size: 42px;
    }

    .content-title {
        font-size: 38px;
    }

    .content-text {
        font-size: 21px;
        text-align: left; 
    }

    .divider {
        height: 1px;
    }

    /* Stack content vertically for mobile */
    .content-item {
        flex-direction: column;
        align-items: flex-start; 
    }
}

/* Contact Section */
.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 70px;
  padding-top: 50px;
}

/* Left Image Section */
/* .contact-image img {
  max-width: 100%;
  height: auto;
  width: 450px;
} */

/* Right Form Section */
.contact-form {
  flex: 1;
  max-width: 600px;
  background-color: #f5f9ee;
  padding: 20px 30px; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 32px;
  color: #82c419;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

label {
  font-size: 14px;
  margin-bottom: 8px;
}

input, textarea {
  padding: 10px 20px; 
  font-size: 16px;
  border: 2px solid #E3DBD8;
  border-radius: 20px; 
  background-color: #fff;
  outline: none;
  box-sizing: border-box;
  width: 100%; 
}
textarea {
  resize: none;
  height: 120px;
  width: 100%; 
}

/* Icon Styling */
.input-with-icon {
  position: relative;
}

.input-with-icon input, 
.input-with-icon textarea {
  padding-left: 20px; 
}

.input-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: black;
}

.submit-button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #82c419;
  border: none;
  border-radius: 20px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:focus{
  outline: none; 
  box-shadow: 0 0 8px #8bc34a; 
}

.contact-text {
  flex: 1;  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.contact-text h2 {
  font-size: 80px;
  font-weight: 300;
  color: #82c419;
}


/* Responsive Design */
@media (max-width: 767px) {
  .vision-mission {
      padding: 50px 20px;
  }

  .section-title {
      font-size: 42px;
  }

  .divider {
      height: 1px;
  }

  .content-item {
      flex-direction: column;
      align-items: flex-start; 
  }
  .contact-content {
      flex-direction: column;
      gap: 20px;
    }
    .form-title {
      font-size: 28px;
    }
  
    .submit-button {
      font-size: 14px;
      padding: 10px;
    }
    .contact-image {
      display: none; 
    }
    .form-row {
      flex-direction: column; 
      gap: 20px; 
  }

  .form-group {
      flex: none; 
      width: 100%; 
  }
  .contact-text h2{
    font-size: 50px;
  }
}

 /* Footer Section Styling */
 .footer_section {
  background-color: #1d1d1d;
  color: #b0b0b0;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer_section h5 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left; 
}

.footer_section ul {
  list-style: none;
  padding-left: 0;
  margin: 0; 
}

.footer_section ul li {
  line-height: 1.8;
  text-align: left; 
}

.footer_section ul li a {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 14px;
  display: block;
  transition: color 0.3s;
  padding-left: 0; 
}

.footer_section ul li a:hover {
  color: #fff;
}

.social_icons a {
  margin-right: 15px;
  color: #b0b0b0;
  font-size: 18px;
  transition: color 0.3s;
}

.social_icons a:hover {
  color: #fff;
}

/* Social Icons Section */
.footer_section .social_icons {
  display: flex; 
  gap: 10px; 
}

.footer_section .social_icons a {
  color: #b0b0b0;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer_section .social_icons a:hover {
  color: #fff;
}

/* Contact Button */
.footer_section .contact_button {
  display: inline-block;
  background-color: #82c419; 
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.footer_section .contact_button:hover {
  background-color: #82c419;
}

.footer_bottom {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 12px;
}

.footer_bottom p {
  margin: 0;
  color: white;
  font-size: 13px;
}

.spacer {
  margin-top: 15px; 
}

/* Responsive Design for Footer */
@media (max-width: 767px) {
  .footer_section .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    text-align: left;
  }

  .footer_section .col-md-3 {
    padding: 0 10px; 
  }

  .footer_section h5 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
  }

  .footer_section ul {
    list-style: none;
    padding: 0;
  }

  .footer_section ul li a {
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
  }

  /* Social Icons and Contact Button */
  .footer_section .social_icons {
    grid-column: span 2; 
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
  }

  .footer_section .contact_button {
    grid-column: span 2;
    display: block;
    text-align: center;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px; 
    font-size: 14px; 
    border-radius: 5px;
    text-decoration: none;
    width: 150px; 
    margin: 0; 
  }

  /* Footer Bottom */
  .footer_bottom {
    grid-column: span 2; 
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
  }
}

 /*# sourceMappingURL=style.css.map */